<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="56c5d5f9-6f86-4274-8939-ebc80fce1b84" name="REST API Test Suite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:description>The test suite generated for the REST service [REST API]</con:description>
  <con:settings>
    <con:setting id="56c5d5f9-6f86-4274-8939-ebc80fce1b84fileName">REST-API-Test-Suite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
