<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="075de38b-ff95-4759-9bac-4d166a1706ac" name="REST API Test Suite_Data_Driven" xmlns:con="http://eviware.com/soapui/config">
  <con:description>The test suite generated for the REST service [REST API]</con:description>
  <con:settings>
    <con:setting id="075de38b-ff95-4759-9bac-4d166a1706acfileName">REST-API-Test-Suite_Data_Driven</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
